<!DOCTYPE html>
<html lang="en">

<head>
    <title>MY BOOKINGs</title>
    <link rel="shortcut icon" type="images/png" href="images/favicon.png" />
    <link rel="stylesheet" href="css/style2.css">
    {{>header}}
</head>

<body>
    {{>rwanavbar}}


    <H1 class="header1">MY RESERVATION </H1>


    <table class="styled-table">
        <thead>
            <tr>
                {{!-- <th>Society Name </th>
                <th>Society Member Name </th> --}}
                <th>Reservation for</th>
                <th>Reservation Date</th>
                <th>Reservation Description</th>
                <th>Reservation Status</th>


            </tr>
        </thead>
        <tbody>
            {{#each list}}
            <tr align="center" class="active-row">
                {{!-- <td>{{this.societyName}}</td>
                <td>{{this.societyMemberName}}</td> --}}
                <td>{{this.reservationFor}}</td>
                <td>{{this.reservationDate}}</td>
                <td>{{this.reservationDesc}}</td>
                <td>{{this.reservationStatus}}</td>

            </tr>
            {{/each}}

        </tbody>
    </table>



</body>

</html>