<!DOCTYPE html>
<html lang="en">

<head>
    <title>BOOKING</title>
    <link rel="shortcut icon" type="images/png" href="images/favicon.png"/>
    {{>header}}
</head>

<body>
    {{>rwanavbar}}
    <br>
    <h1>Booking List</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                {{!-- <th>Society Name </th>
                <th>Society Member Name </th> --}}
                <th>Reservation for</th>
                <th>Reservation Date</th>
                <th>Reservation Description</th>
                <th>Reservation Status</th>

            </tr>
        </thead>
        <tbody>
            {{#each list}}
            <tr align="center">
                {{!-- <td>{{this.societyName}}</td>
                <td>{{this.societyMemberName}}</td> --}}
                <td>{{this.reservationFor}}</td>
                <td>{{this.reservationDate}}</td>
                <td>{{this.reservationDesc}}</td>
                <td>{{this.reservationStatus}}</td>
            </tr>
            {{/each}}

        </tbody>
    </table>



</body>

</html>