<!DOCTYPE html>
<html lang="en">

<head>
    <title>Complaint</title>
    {{>header}}
    <link rel="stylesheet" href="css/style2.css">
    
</head>

<body>
    {{>societynavbar}}
    <h1 class="header1">My Complaints</h1>
    <table class="styled-table">
        <thead>
            <tr>
                {{!-- <th>society Member Name </th> --}}
                <th>Subject </th>
                <th>Description </th>
                <th>Complaint Date</th>
                <th>Status</th>

            </tr>
        </thead>
        <tbody>
            {{#each list}}
            <tr align="center" class="active-row">
                {{!-- <td>{{this.societyName}}</td>
                <td>{{this.societyMemberName}}</td> --}}
                <td>{{this.complaintSubject}}</td>
                <td>{{this.complaintDesc}}</td>
                <td>{{this.complaintDate}}</td>
                <td>{{this.complaintStatus}}</td>
            </tr>
            {{/each}}

        </tbody>
    </table>
    </div>

</body>

</html>