<!DOCTYPE html>
<html lang="en">

<head>
    <title>Complaint</title>
    {{>header}}
</head>

<body>
    {{>societynavbar}}
    <h1>Complaint List</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                {{!-- <th>society Member Name </th> --}}
                <th>complaint Subject </th>
                <th>complaint Description </th>
                <th>complaintDate</th>
                <th>complaintStatus</th>

            </tr>
        </thead>
        <tbody>
            {{#each list}}
            <tr align="center">
                {{!-- <td>{{this.societyName}}</td>
                <td>{{this.societyMemberName}}</td> --}}
                <td>{{this.complaintSubject}}</td>
                <td>{{this.complaintDesc}}</td>
                <td>{{this.complaintDate}}</td>
                <td>{{this.complaintStatus}}</td>
            </tr>
            {{/each}}

        </tbody>
    </table>
    </div>

</body>

</html>