<html lang="en">

<head>
    <title>My Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {{>header}}
</head>
{{>profilenavbar}}
<body>
   <div class="container bootstrap snippet">
    <div class="row">
  		<center><div class="col-sm-10">
              <h1>{{user.name}}</h1>
    </center>
    </div>
    	
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block file-upload">
      </div>
    </div><!--/col-3-->

<div class="col-sm-9">
           <div class="tab-content">
   <form class="form" action="##" method="post" id="registrationForm">
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label><h4>Name</h4></label>
                            <input type="text" class="form-control"  placeholder="{{user.name}}">
                             <!--  <a class="btn btn-primary btn-xs" href="/"><i class="fa fa-edit"></i></a>-->
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label ><h4>House number</h4></label>
                              
                              <input type="text" class="form-control"placeholder="{{user.hnumber}}">
                          </div>
                      </div>
          
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label ><h4>No of familymember</h4></label>
                              <input type="text" class="form-control" placeholder="{{user.familymemcount}}">
                          </div>
                      </div>
          
                      <div class="form-group">
                          <div class="col-xs-6">
                             <label ><h4>Floor number</h4></label>
                              <input type="text" class="form-control" placeholder="{{user.fnumber}}">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label ><h4>Street name</h4></label>
                              <input type="text" class="form-control"placeholder="{{user.sname}}">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label><h4>District name</h4></label>
                              <input type="TEXT" class="form-control"  placeholder="{{user.dname}}" >
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label><h4>ownership</h4></label>
                              <input type="text" class="form-control"  placeholder="{{user.owner}}">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label><h4>DOB</h4></label>
                              <input type="text" class="form-control" placeholder="{{user.dob}}">
                          </div>
                      </div>
                        <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label><h4>Email</h4></label>
                              <input type="email" class="form-control" placeholder="{{user.email}}">
                          </div>
                      </div>
                       <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label><h4>Phone</h4></label>
                              <input type="text" class="form-control" placeholder="{{user.phone}}">
                          </div>
                      </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
  
                            </div>
                      </div>
              	</form>
              
         
              
             </div><!--/tab-pane-->
                             

</html>