<!DOCTYPE html>
<html lang="en">

<head>
    <title>All Members</title>
    <link rel="shortcut icon" type="images/png" href="images/favicon.png"/>
    {{>header}}
</head>

<body>
    {{>rwanavbar}}
    <H1>All society Members<button>Save Changes</button></H1>
    <table class="table table-striped">
        <thead>
            <tr>
                
                <th>Name </th>
                <th>House</th>
                <th>Floor </th>
                <th>Email</th>
                <th>Contact</th>
                <th>DOB</th>
                <th>Family Members</th>
                <th>Role</th>
                <th>Change Role</th>

            </tr>
        </thead>
        <tbody>
            {{#each list}}
            <tr align="center">
                <td>{{this.memName}}</td>
                <td>{{this.memHouseNum}}</td>
                <td>{{this.memFloorNum}}</td>
                <td>{{this.memEmail}}</td>
                <td>{{this.memContact}}</td>
                <td>{{this.memDOB}}</td>
                <td>{{this.familyMemCount}}</td>
                <td>{{this.role}}</td>
                <td><select name="newrole" >
                            <option value="change">-CHANGE-</option>
                            <option value="President">PRESIDENT</option>
                            <option value="Secretary">SECRETARY</option>
                            <option value="rwaMember">RWA MEMBER</option>
                            <option value="member">MEMBER</option>
                        </select></td>
            </tr>
            {{/each}}

        </tbody>
    </table>
    </div>

</body>

</html>