<!DOCTYPE html>
<html lang="en">

<head>
    <title>Complaint</title>
    <link rel="shortcut icon" type="images/png" href="images/favicon.png" />
    <link rel="stylesheet" href="css/style2.css">
    {{>header}}
</head>

<body>
    {{>rwanavbar}}
    <div class="header1">
    <h1>Reservation Requests</h1>
    </div>
    <p align="right" style="padding: 10px 15px">
        <button type="button" class="btn btn-success btn-lg">UPDATE</button>
    </p>

    <table class="styled-table">
        <thead>
            <tr>
                <th>RESERVATION BY</th>
                <th>EMAIL </th>
                <th>Reservation for</th>
                <th>Reservation Date</th>
                <th>Description</th>
                <th>Reservation Status</th>
                <th>Change Status</th>

            </tr>
        </thead>
        <tbody>
            {{#each list}}
            <tr align="center" class="active-row">
                {{!-- <td>{{this.societyName}}</td> --}}
                <td>{{this.societyMemberName}}</td>
                <td>{{this.memEmail}}</td>
                <td>{{this.reservationFor}}</td>
                <td>{{this.reservationDate}}</td>
                <td>{{this.reservationDesc}}</td>
                <td>{{this.reservationStatus}}</td>
                <td><select name="bookingstatus">
                        <option value="change">-CHANGE-</option>
                        <option value="pending">PENDING</option>
                        <option value="confirmed">APPROVED</option>
                        <option value="notapproved">NOT APPROVED</option>
                    </select></td>
            </tr>
            {{/each}}

        </tbody>
    </table>
    </div>

</body>

</html>