<!DOCTYPE html>
<html lang="en">

<head>
    <title>Complaint</title>
    {{>header}}
</head>

<body>
    {{>rwanavbar}}
    <h1>Booking List</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Member Name </th>
                <th>Member Email </th>
                <th>Reservation for</th>
                <th>Reservation Date</th>
                <th>Reservation Description</th>
                <th>Reservation Status</th>

            </tr>
        </thead>
        <tbody>
            {{#each list}}
            <tr align="center">
                {{!-- <td>{{this.societyName}}</td> --}}
                <td>{{this.societyMemberName}}</td>
                <td>{{this.memEmail}}</td>
                <td>{{this.reservationFor}}</td>
                <td>{{this.reservationDate}}</td>
                <td>{{this.reservationDesc}}</td>
                <td>{{this.reservationStatus}}</td>
            </tr>
            {{/each}}

        </tbody>
    </table>
    </div>

</body>

</html>