<!DOCTYPE html>
<html lang="en">

<head>
    <title>Notices</title>
    <link rel="shortcut icon" type="images/png" href="images/favicon.png"/>
    <link rel="stylesheet" href="css/style2.css">
    {{>header}}
</head>

<body>
    {{>societynavbar}}
    <h1 class="header1">All NOTICES</h1>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Society Name</th>
                <th>Date Of Notice</th>
                <th>Heading </th>
                <th>Description </th>
                <th>Link:</th>
            </tr>
        </thead>
        <tbody>
            {{#each list}}
            <tr class="active-row">
                <td>{{this.societyName}}</td>
                <td>{{this.noticeDate}}</td>
                <td>{{this.noticeHeading}}</td>
                <td>{{this.noticeDesc}}</td>
                <td>{{this.noticeLink}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    </div>

</body>

</html>