<!DOCTYPE html>
<html lang="en">

<head>
    <title>Notices</title>
    <link rel="shortcut icon" type="images/png" href="images/favicon.png"/>
    {{>header}}
</head>

<body>
    {{>societynavbar}}

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Society Name</th>
                <th>Date Of Notice</th>
                <th>Heading </th>
                <th>Description </th>
                <th>Link:</th>
            </tr>
        </thead>
        <tbody>
            {{#each list}}
            <tr>
                <td>{{this.societyName}}</td>
                <td>{{this.noticeDate}}</td>
                <td>{{this.noticeHeading}}</td>
                <td>{{this.noticeDesc}}</td>
                <td>{{this.noticeLink}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    </div>

</body>

</html>